name: products-service

services:
  db:
    container_name: products-postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: products_db
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: always

volumes:
  pgdata: